body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: whitesmoke;
}


.blue{   
    background-color: blue;
    border: 5px solid white;
    width: auto;
    margin: auto;
    padding: 20px;
}

.red {
    background-color: red;
    border: 7px solid white;
    padding: 10px;
}

.green {
    background-color: green;
    border: thick solid white;
    padding: 10%;
}

#grass {
    background: yellowgreen;
    border: black solid 5px;
}

#trees {
    background: orange;
    color: darkred;
}

#ocean {
    background: lightblue;
    color: royalblue;
    font-size: larger;
}

img {
    width: 35%;
    block-size: auto;
}
